html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: slategray;
    text-align: center;
    font-family: 'Sono', sans-serif;
}

h1, p {
    color: white;
}

p {
    max-width: 500px;
}

#buttons {
    display: inline;
}

#quote {
    font-style: italic;
}

#fortune {
    font-weight: bold;
}