html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: slategray;
    text-align: center;
    font-family: 'Sono', sans-serif;
}

h1, p {
    color: white;
}

p {
    max-width: 500px;
}

button {
    border-radius: 5px;
    border: 0;
    height: 30px;
    width: 100px;
    font-size: large;
    font-family: 'Sono', sans-serif;
    font-style: bold;
    background-color: crimson;
    color: white;
}

#quote {
    font-style: italic;
}

#fortune {
    font-weight: bold;
}